<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Summary:</h1>
      <div>
          <label>Total students: {{students.length}}</label>
           <label>Total exercises: {{exercises.length}}</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Summary for all exercises:</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <canvas id="bar" class="chart chart-bar"
        chart-data="data" chart-labels="labels" chart-series="series">
      </canvas> 
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Summary for an exercise:</h1>
      <div>
          <label>select a question</label>
          <select ng-model="selectedExercise" ng-options="s as s for s in exercises" ng-change="updateExercise(selectedExercise)">
          </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <canvas id="single-bar" class="chart chart-bar"
        chart-data="singleData" chart-labels="labels" chart-series="series">
      </canvas> 
       <canvas id="doughnut" class="chart chart-doughnut"
        chart-data="singleDataPie" chart-labels="seriers">
      </canvas> 
    </div>
  </div>
</div>
